.calendar-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    border: 1px solid #30ccbf;
  }
  
  .calendar-container h2 {
    margin-bottom: 20px;
  }