.input-container {
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centering horizontally */
    justify-content: center; /* Centering vertically */
  
    input {
      /* border: none; */
      outline: none;
      /* width: 100%; */
      box-sizing: border-box;
      margin-bottom: 15px;
      padding-top: 10px;
      padding-left: 8px;
      padding-bottom: 10px;
      font-size: 16px;
      font-family: OCR A Std, monospace;
    }
  
    .options {
      height: 100px;
      border: transparent;
      /* border: transparent; */
      width: 50%;
      overflow-y: scroll;
      overflow-x: none;
      border-style: solid;
      font-family:OCR A Std, monospace;
      padding-top: 0px;
      padding-left: 8px;
      display: flex;
      flex-direction: column;
      align-items: center; /* Centering horizontally */
      justify-content: center; /* Centering vertically */

      /* animation: open .5s;
      @keyframes open {
        from {
          max-height: 0;
        }
        to {
          max-height: 150px;
        }
      } */
    }
  
  }