.search-box {
    border-radius: 10px;
    box-shadow: var(--box-shadow);
  
    hr {
      margin: 0;
      border: 1px solid #0001;
    }
  }
  
  .article-results {
      font-size: 15px;
      font-family: OCR A Std, monospace; 
      margin-left: 10px;
  }
  
  .article-links {
      font-size: 20px;
      font-family: OCR A Std, monospace;
      /*color: #96333c;*/   
  }